* {
    /*
    
    [Global Page Config]
    - took inspiration from bootstrap's Sass/Scss Layout

    */

    /* Global Font Family */
    font-family: 'Figtree';

    /* Base Font Size to 1rem ~ 16px */
    font-size: 1rem;

     /* Paragraph */
    p {
        font-size: 1rem;
        margin: 0;
    }

    /* Base Header Size, 1.5rem apart, can be changed */
    h1 {
        font-size: 7.5rem;
        margin: 0;
    }

    h2 {
        font-size: 6rem;
        margin: 0;
    }

    h3 {
        font-size: 4.5rem;
        margin: 0;
    }

    h4 {
        font-size: 3rem;
        margin: 0;
    }

    h5 {
        font-size: 1.5rem;
        margin: 0;
    }
}


/* profilbild */
.pfp {
    width: 289px;
    height: 289px;
    background: url(../images/mikudefauktface.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    opacity: 0.63;
    box-shadow: 0px 0px 29.3px -5px rgba(0, 0, 0, 0.25);
    backdrop-filter: blur(5px);
    border-radius: 50%;
}
.body-header-container {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    height: 36rem;
    align-content: center;
    flex-wrap: wrap;

    .pfp-container {
        margin: 2rem;
    }

    .title-button-container {
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        align-items: center;

        /* Header Buttons */
        .button-container{

            display: flex;
            flex-direction: row;
            justify-content: center;
            flex-wrap: wrap;
            gap: 0.5rem;

            a {
                text-decoration: none;

                .btt {
                    background-repeat: no-repeat;
                    background-position: 0.7rem 48%;
                    background-size: 1.5rem;
                    height: 2.5rem;
                    padding: 0.3rem 1rem;
                    align-content: center;
                    border-radius: 45px;

                    h5 {
                        padding-left: 1.4rem;
                    }

                    &.twitter {
                        background-image: url(../icons/twitter.svg);
                        background-color: #C4E3FD;
                        color: #60B5FA;

                        &:hover {
                            background-image: url(../icons/twitter_hover.svg);
                            background-color: #60B5FA;
                            color: #ffffff;
                            box-shadow: inset 0 0 0 3px #2F9EF8;
                            transition: color 0.3s ease-out, box-shadow 0.3s ease-out;
                        }
                        &:hover img {
                            src: url('../icons/twitter_hover.svg');
                        }
                    }
                
                    &.osu {
                        background-image: url(../icons/osu.svg);
                        background-color: #FFCCE3;
                        color: #FF66AA;

                        &:hover {
                            background-image: url(../icons/osu_hover.svg);
                            background-color: #FF66AA;
                            color: #ffffff;
                            box-shadow: inset 0 0 0 3px #FF338E;
                            transition: color 0.3s ease-out, box-shadow 0.3s ease-out;
                        }
                    }
                
                    &.github {
                        background-image: url(../icons/github.svg);
                        background-color: #151B23;
                        color: #D1D7E0;

                        &:hover {
                            background-image: url(../icons/github_hover.svg);
                            background-color: #D1D7E0;
                            color: #151B23;
                            box-shadow: inset 0 0 0 3px #151B23;
                            transition: color 0.3s ease-out, box-shadow 0.3s ease-out;
                        }
                    }

                    &.discord {
                        background-image: url(../icons/discord.svg);
                        background-color: #B3B9FF;
                        color: #5865F2;

                        &:hover {
                            background-image: url(../icons/discord_hover.svg);
                            background-color: #5865F2;
                            color: #ffffff;
                            box-shadow: inset 0 0 0 3px #2A3BEE;
                            transition: color 0.3s ease-out, box-shadow 0.3s ease-out;
                        }
                    }
                } 
            }
        }
    }
}